html {
  height: 100%;

}

body {
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 30px;
  font-family: 'Josefin Sans', sans-serif;
  background-image: url('./images/farm.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.tictactoepg{
  height: 400px;
  margin: auto;
}

.newgame{
  height: 10%;
}

.emojioptions{
  margin-top: 30px;
  margin-bottom: 30px;
}

.submit{
  margin-top: 30px;
}

.gameboarddiv{
  text-align: center;
}

.table{
  display: inline-block;
}

td {
  width: 100px;
  height: 100px;
}

.vert {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-color: white;
}
.hori {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-color: white;
}

form {
  display: inline-block;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
